# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.factorypath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear
/target


.vscode/
.history/
